#what .items .item {
	display: flex;
	text-align: left;
}

#what .items .item i {
	margin-right: 1.3rem;
	align-self: center;
	margin-bottom: 0
}

#additionalInfo .items .item {
	display: flex;
	text-align: left;
}

#additionalInfo .items .item i {
	margin-right: 1.3rem;
	align-self: center;
	margin-bottom: 0
}

#weather {
	text-align: center;
	display: flex;
	height: 30vh;
}
