<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content ="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4611229106272216" crossorigin="anonymous"></script>
		<meta property="og:type" content="pendragonscode.xyz	">
		<meta property="og:site_name" content="Pendragon's main site.">
		<meta property="og:title" content="Pendragon's main site.">
		<meta property="og:description" content="A basic API that I made for fun.">
		<meta name=" theme-color" content="#1F618D">
		<link rel="stylesheet" href="css/landingPage.css">
		<title>Pendragon's API</title>
		<script data-ad-client="ca-pub-4611229106272216" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4611229106272216" crossorigin="anonymous"></script>
	</head>

	<body id="home">
		<nav id="navbar">
			<ul>
				<div class="dropdown">
					<button class="dropbtn">Navigation!</button>
						<div class="dropdown-content">
							<a href="https://code.pendragonscode.xyz	/">Portfolio!</a>
							<a href="https://code.pendragonscode.xyz	/contact">Contacts!</a>
							<a href="https://wallpaperaccess.com/full/8351186.gif">Image Credits!</a>
							<a href="https://api.pendragonscode.xyz	">API!</a>
						</div>
	
				</div>
			</ul>
		</nav>
		<header id="showcase">
			<div class="showcase-content">
				<h3 class="l-heading">
					🍌 Error 404.
				</h3>
				<a href="/" class="btn"><h3>Home!</h3></a>
			</div>
		</header>
	</body>
