<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content ="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4611229106272216" crossorigin="anonymous"></script>
		<meta property="og:type" content="pendragonscode.xyz	">
		<meta property="og:site_name" content="Pendragon's main site.">
		<meta property="og:title" content="Pendragon's main site.">
		<meta property="og:description" content="A basic site that I made for fun.">
		<meta name=" theme-color" content="#1F618D">
		<link rel="stylesheet" href="/css/landingPage.css">
		<link rel="stylesheet" media="screen and (max-width: 1100px)" href="css/mobileLanding.css">
		<link rel="stylesheet" media="screen and (max-width: 850px)" href="css/mobileLanding.css">
		<title>Pendragon's code</title>
		<!-- So I am adding this thing here because I encourage you to use a personal link, not mine. Not that i can really stop you anyway.-->
		<script data-ad-client="ca-pub-4611229106272216" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4611229106272216" crossorigin="anonymous"></script>
	</head>

	<body id="home">
		<nav id="navbar">
			<ul>
				<div class="dropdown">
					<button class="dropbtn">Navigation!</button>
						<div class="dropdown-content">
							<a href="https://code.pendragonscode.xyz/">Portfolio!</a>
							<a href="https://code.pendragonscode.xyz/contact">Contacts!</a>
							<a href="https://wallpaperaccess.com/full/8351186.gif">Image 1!</a>
							<a href="https://wallpaperaccess.com/full/2825727.gif">Image 2!</a>
							<a href="https://pixeljeff.tumblr.com/post/675186511641264128/new-dawn-2022">Image 3!</a>
							<a href="https://www.artstation.com/artwork/r9VlQe">Image 4!</a>
							<a href="https://api.pendragonscode.xyz">API!</a>
						</div>
	
				</div>
			</ul>
		</nav>
		<header id="showcase">
			<div class="showcase-content">
				<h3 class="l-heading">
					<%- randomGreet %>
				</h3>
				<a href="#what" class="btn"><h3>About me!</h3></a>
			</div>
		</header>
		<section id="what" class="bg-light py-1">
			<div class="container">
				<h2 class="m-heading text-center"><span class="text-primary">About me!:</span></h2>
				<div class="items">
					<div class="item">
						Hello there! I'm pendragon's code/pendragon! I am just your below-average everyday normal guy. I enjoy writing code when I'm bored. Especially in our increasingly chaotic world, not a lot of things seem to make sense anymore. I am incredibly socially inept and lack all social skills people have.<br>I like mathematical, scientific, political, geographical, historical and cultural content!
					</div>
				</div>
		</section>
		<section id="additionalInfo" class="bg-light py-1">
			<div class="container">
				<h2 class="m-heading text-center"><span class="text-primary">Additional info:</span></h2>
				<div class="items">
					<div class="item">
						I like milsim games like squad and arma. However, I don't have a PC that can handle crazy games now.<br>I use arithmetic and scientific means to solve problems and I want to expand my logical knowledge.<br> This is especially important because I have an IQ of 0.0000000001.<br>I'm not smart, but I am very retarded.
					</div>
				</div>
			</div>
		</section>
		<section id="who">
			<div class="who-img"></div>
			<div class="who-text bg-dark p-2">
				<h2 class="m-heading"><span> What I Do:</span></h2>
				<p>I used to work on some low-level kernel and ASIC orienteered projects when I was younger, playing around with things like the linux kernel and seeing what changes would not crash the build. After getting a better understanding of the development landscape in singapore, I decided to try web dev.</p>
				<h3>Now I primarily work on:</h3>
					<br><li><a href="https://jasbot.pendragonscode.xyz">Discord bots</a></li>
					<br><li><a href="https://api.pendragonscode.xyz">APIs</a></li>
					<br><li>Some sysadmin (application deployment) and hardware stuff.</li>
					<br><li>I like making stuff with lego and using them with my <a href="https://www.raspberrypi.com/products/raspberry-pi-4-model-b">RPI4B</a></li>
			</div>
		</section>
		<footer id="main-footer" class="bg-dark text-center py-1">
			<div class="container">
				<p><%- quote %></p>
			</div>
		</footer>
	</body>
</html>
